.descriptionProdutosContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  h2 {
    border-bottom: 1px solid var(--secondary-dark);

    color: var(--secondary-dark);

    font-style: italic;
  }

  p {
    font-size: 16px;

    color: var(--text-primary);
  }

  strong {
    color: var(--secondary-dark);
  }
}
