.title {
  width: 30rem;
  margin: 4rem auto 0;

  padding-bottom: -1rem;
  border-bottom: 1px solid var(--error);

  color: var(--error);

  font-size: 20px;
  text-align: center;
}

.arrows {
  display: flex;

  .arrow1 {
    width: 3rem;
    height: 3rem;

    position: absolute;
    left: 2rem;
    margin-top: 10rem;
    border-radius: 10px;

    background: var(--secondary-main);
    color: aliceblue;

    cursor: pointer;

    transition: 0.6s;
  }

  .arrow2 {
    width: 3rem;
    height: 3rem;

    position: absolute;
    right: 2rem;
    margin-top: 10rem;
    border-radius: 10px;

    background: var(--secondary-main);
    color: aliceblue;

    cursor: pointer;

    transition: 0.6s;
  }

  .arrow1:hover,
  .arrow2:hover {
    filter: brightness(0.6);
  }
}

.carouselContainer {
  width: 65vw;

  display: flex;
  margin: 2rem auto;

  overflow-x: auto;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: none;

  width: 15rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;

  background: var(--secondary-main);

  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);

  text-align: center;

  transition: 0.6s;

  cursor: pointer;

  span {
    display: block;
  }

  .carouselImage {
    margin-bottom: -2.5rem;
  }

  .name {
    padding-top: -3rem;
    font-size: 18px;
    font-weight: lighter;

    color: var(--secondary-dark);
  }

  .oldPrice {
    color: var(--error);
    text-decoration: line-through;
  }

  .price {
    color: var(--success);
    font-size: 20px;
    font-weight: bolder;
  }
}

.carouselItem:hover {
  box-shadow: none;
  transform: rotateX(20deg);
}
