.button {
  font-size: 18px;
  padding: 10px;

  color: var(--secondary-main);
  background: transparent;

  border: none;
  border-bottom: 2px solid transparent;

  transition: 0.3s;

  cursor: pointer;
}

.button:hover {
  border-bottom: 2px solid var(--primary-light);
}
