.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .titleHome {
    padding: 7rem 9rem;
    margin: 0 auto;
    color: var(--secondary-main);
    font-style: italic;
    font-size: 70px;
    filter: opacity(0.9);

    background-image: url(../../public//assets//background.png);
    background-size: 100%;
  }

  .climatizadores {
    margin: auto;
    padding: 0;
  }

  .descriptionProdutosHome {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 6rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
  }

  .cardDescriptionHome {
    width: 15rem;
    display: flex;
    flex-direction: column;

    background: var(--grey-50);

    padding: 2rem 1rem;
    border-radius: 3px;

    text-align: center;

    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    strong {
      margin-top: 5px;
      color: var(--secondary-main);
    }
  }

  .homeEspecification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 1rem;
    border-radius: 8px;

    margin: 4rem auto;

    color: var(--text-primary);

    span {
      width: 50%;
      padding: 2rem;

      h1 {
        font-size: 28px;
        font-weight: bolder;
        text-align: center;

        padding: 0.2rem;
        background: var(--secondary-main);
        color: var(--grey-50);
      }

      p {
        font-size: 18px;
        color: #000;
      }
    }
  }

  .guias {
    padding: 8rem 4rem;
    margin: auto;
  }
}

@media (max-width: 1080px) {
  .container {
    .descriptionProdutosHome {
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
    }

    .homeEspecification {
      margin: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;

    .titleHome {
      padding: 0 10rem;
    }
  }
}
