.root {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  padding: 0 5rem 3rem 2rem;
  gap: 4rem;
}
.tabs {
  min-width: 16rem;
  height: 26rem;

  margin: 8rem 1rem 1rem;
  border: 1px solid var(--secondary-main);
  border-radius: 8px;

  overflow-y: auto;

  font-weight: bolder;

  color: var(--secondary-main);

  .tab {
    border-bottom: 1px solid var(--secondary-main);
  }
}

.tabPanel {
  margin-top: 2rem;
  max-width: 41rem;
  color: var(--text-primary);

  span {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0.5rem;
  }

  strong {
    color: var(--secondary-main);
  }
}
