.root {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  padding: 0 5rem 3rem 2rem;
  gap: 4rem;
}
.tabs {
  min-width: 16rem;
  height: 26rem;

  margin: 8rem 1rem 1rem;
  border: 1px solid var(--secondary-main);
  border-radius: 8px;

  overflow-y: auto;

  font-weight: bolder;

  color: var(--secondary-main);

  .tab {
    border-bottom: 1px solid var(--secondary-main);
  }
}

.tabPanel {
  margin-top: 2rem;
  max-width: 41rem;
  color: var(--text-primary);

  h3 {
    font-size: 28px;
    font-weight: lighter;
    color: var(--secondary-main);
  }

  h4 {
    font-size: 24px;
    font-weight: lighter;
    color: var(--secondary-main);
  }
}
