.buttonDownload {
  padding: 1rem 2rem;

  border: 1px solid var(--primary-main);
  border-radius: 5px;

  text-decoration: none;

  font-size: 18px;
  font-weight: bold;

  color: var(--primary-main);
  background: var(--grey-50);

  cursor: pointer;

  .icon {
    position: relative;
    top: 5px;
  }
}

.root {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  padding: 0 5rem 3rem 2rem;
  gap: 5rem;
}
.tabs {
  min-width: 16rem;
  height: 20rem;

  margin: 1rem;
  border: 1px solid var(--secondary-main);
  border-radius: 8px;

  overflow-y: auto;

  font-weight: bolder;

  color: var(--secondary-main);
  // background: var(--primary-main);
}
