.topHeader {
  display: flex;
  justify-content: space-between;

  gap: 20px;

  padding: 0 3rem;
}

.container {
  display: flex;
  justify-content: space-evenly;

  position: static;
  top: 0;

  padding: 1rem;
  background: var(--grey-50);

  .buttons {
    display: flex;
    gap: 10px;
  }
}

.topInformations {
  padding: 1rem 0;
  .image {
    background-color: var(--secondary-main);
    padding: 6rem;
  }

  p {
    font-size: 12px;
    color: var(--secondary-light);
    margin: 5px 0;

    strong {
      color: var(--primary-dark);
    }
  }
}

@media (max-width: 768px) {
  .topHeader {
    display: none;
  }

  .container {
    display: none;
  }

  .topInformations {
    display: none;
  }
}
