.textH3 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: var(--grey-50);
  background-image: url(../../../../public//assets//Plot2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

.textQuemSomos {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: var(--secondary-main);
  background: var(--primary-main);
  padding: 0 2rem;
}
