.footer {
  font-size: 15px;
  padding: 10px;
  border: none;

  color: var(--grey-50);
  background: transparent;

  font-weight: 600;

  transition: 0.3s;

  cursor: pointer;
}

.footer:hover {
  color: var(--primary-main);
}
