/* Dropup Button */
.dropButton {
  color: var(--primary-main);
  background: var(--secondary-50);
  font-size: 18px;

  padding: 10px;

  border: none;
  border-bottom: 2px solid transparent;

  transition: 0.3s;

  cursor: pointer;
}

.dropButton:hover {
  color: var(--grey-50);
}

/* The container <div> - needed to position the dropup content */
.dropUp {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropUpContent {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropUpContent a {
  color: var(--secondary-main);
  background: var(--grey-50);
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropup links on hover */
.dropUpContent a:hover {
  color: var(--primary-main);
}

/* Show the dropup menu on hover */
.dropUp:hover .dropUpContent {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropUp:hover .dropButton {
  color: var(--primary-main);
}
